body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Microsoft YaHei";
}

h1 {font-size: 1.2em;}
h2 {font-size: 1.1em;}
p {margin: 1em 0;}

.site {
    font-size: 1em;
    text-align: justify;
    line-height: 1.5em;
    width: 42em;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}

.title {
    color: #a00;
    font-weight: bold;
    margin-bottom: 2em;
}

.title a:hover {
    color: black;
}

.title a {
    color: #a00;
    text-decoration: none;
}

.home {

}

.home ul {
    list-style-type: none;
    margin-bottom: 2em;
}

.home ul span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

.post {

}

.meta {
    color: #aaa;
}

.footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.footer .contact {
    float: left;
    margin-right: 3em;
}

.code {
    border: 1px solid #D1D7DC;
    background-color: #FAFAFA;
}

.code .string {
    color: blue;
}

.code .keyword {
    color: #7f0055;
    font-weight: bold;
}
