body {
	background-color: rgb(255, 255, 255);
    text-align: center;
}

h1 {}
h2 {}
p {margin: 1em 0;}

.site {
    font-size: 110%;
    text-align: justify;
    line-height: 1.5em;
    width: 42em;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}

.title {
    color: #a00;
    font-weight: bold;
    margin-bottom: 2em;
}

.home {

}

.post {

}

.meta {
    color: #aaa;
}

.footer {

}
